

<div class="jumbotron">
  <h1 class="title">28K Offer </h1>
  <p class="slogan">28K Offer 是一个提供28k薪水工作机会的求职网站
  <br>
  我们希望借由这个网站，能让大家找到且应征上高薪且优质的工作。
  <br>
  凭借自己的努力和天分也会变成Winner
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a> </p>
</div>

<div class="row">
  <div class="col-sm-10 ">
    <form accept-charset="UTF-8" action="/jobs/search" class="jobs-search-form" method="get"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /></div>
      <div class="input-group">
        <input type="text" class="form-control" name="q" value="" placeholder="搜尋工作關鍵字...">

        <span class="input-group-btn">
          <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </form>
  </div>

  <div class="col-sm-2 ">
    <a class="btn btn-primary btn-block " data-remote="true" href="#" id="post-new-job-link">立刻获得 28K+ 工作</a>
  </div>
</div>

<dl class="hotSearch" data-lg-tj-track-code="index_hotsearch" data-lg-tj-track-type="1">
  <dt>热门搜索：</dt>
  <dd>
    <a href="#" class="highlight" target="_self">用户运营</a>
  </dd>
  <dd>
    <a href="#" class="highlight" target="_self">PHP</a>
  </dd>
  <dd>
    <a href="#" class="highlight" target="_self">web前端</a>
  </dd>
  <dd>
    <a href="#" class="highlight" target="_self">架构师</a>
  </dd>
  <dd>
    <a href="#" class="highlight" target="_self">Java</a>
  </dd>
  <dd>
    <a href="#" class="highlight" target="_self">C++</a>
  </dd>
  <dd>
    <a href="#" class="highlight" target="_self">市场总监</a>
  </dd>
  <dd>
    <a href="#" class="highlight" target="_self">html5</a>
  </dd>
  <dd><a href="#" class="highlight">产品经理</a>
  </dd>
</dl>

<br>


<div class="bs-example bs-example-tabs">
    <ul id="myTab" class="nav nav-tabs" role="tablist">

        <li class="active">
          <a data-toggle="tab" href="#">最新职位</a>
        </li>
        <li class="">
          <a data-toggle="tab" href="#">最热职位</a>
        </li>
    </ul>

    <div id="myTabContent" class="tab-content">
      <br>
        <div class="tab-pane in active" id="category-0">

           <table class="table table-borderd">
              <tbody>
                <tr>
                  <td width="80%">
                    博晶醫電股份有限公司 -
                    <a href="#">專案管理</a>
                  </td>
                  <td width="5%">
                    <span class="label label-default ">人民币 $80,000 元</span>
                  </td>
                  <td>  4 Jan </td>
                </tr>
                <tr>
                    <td width="80%">
                      博晶醫電股份有限公司 -
                      <a href="http://www.66kjobs.tw/jobs/1692">PHP程式開發與系統維運</a>
                    </td>
                    <td width="5%">
                      <span class="label label-default ">人民币 $80,000 元</span>
                    </td>
                    <td>  4 Jan </td>
                </tr>
                <tr>
                    <td width="80%">
                      趨勢科技 -
                      <a href="http://www.66kjobs.tw/jobs/1691">Sr. Engineer (VR project)</a>
                    </td>
                    <td width="5%">
                      <span class="label label-default ">人民币 $90,000 元</span>
                    </td>
                    <td> 27 Dec </td>
                </tr>
                <tr>
                    <td width="80%">
                        趨勢科技 -
                        <a href="http://www.66kjobs.tw/jobs/1690">【Threat Defense Expert - 打擊IoT網路駭客!】</a>
                    </td>
                    <td width="5%">
                        <span class="label label-default ">人民币 $90,000 元</span>
                    </td>
                    <td> 27 Dec </td>
                </tr>
                <tr>
                    <td width="80%">
                      網智數位 -
                      <a href="http://www.66kjobs.tw/jobs/1689">.NET 系統設計師</a>
                    </td>
                    <td width="5%">
                      <span class="label label-default ">人民币 $80,000 元</span>
                    </td>
                    <td> 27 Dec </td>
                </tr>
                <tr>
                    <td width="80%">
                      網智數位 -
                      <a href="http://www.66kjobs.tw/jobs/1688">ASP.NET MVC 系統分析師</a>
                    </td>
                    <td width="5%">
                      <span class="label label-default ">人民币 $85,000 元</span>
                    </td>
                    <td> 27 Dec </td>
                </tr>
                <tr>
                  <td width="80%">
                    趨勢科技 -
                    <a href="http://www.66kjobs.tw/jobs/1685">Sr. Front-End Developer</a>
                  </td>
                  <td width="5%">
                    <span class="label label-default ">人民币 $90,000 元</span>
                  </td>
                  <td> 20 Dec </td>
                </tr>
              </tbody>
          </table>
        </div>

        <div class="tab-pane fade" id="category-1">

           <h3> <a href="/categories/2" style="color: black;">程式設計</a> <a href="/categories/2.rss"><img alt="Rss feed" src="/images/rss-feed.png"></a> </h3>
           <table class="table table-borderd">
             <tbody>
               <tr>
                  <td width="80%">
                    博晶醫電股份有限公司 -
                    <a href="http://www.66kjobs.tw/jobs/1693">專案管理</a>
                  </td>
                  <td width="5%">
                    <span class="label label-default ">人民币 $80,000 元</span>
                  </td>
                  <td>  4 Jan </td>
               </tr>
               <tr>
                  <td width="80%">
                    博晶醫電股份有限公司 -
                    <a href="http://www.66kjobs.tw/jobs/1692">PHP程式開發與系統維運</a>
                  </td>
                  <td width="5%">
                    <span class="label label-default ">人民币 $80,000 元</span>
                  </td>
                  <td>  4 Jan </td>
              </tr>
              <tr>
                  <td width="80%">
                    趨勢科技 -
                    <a href="http://www.66kjobs.tw/jobs/1691">Sr. Engineer (VR project)</a>
                  </td>
                  <td width="5%">
                    <span class="label label-default ">人民币 $90,000 元</span>
                  </td>
                  <td> 27 Dec </td>
              </tr>
              <tr>
                <td width="80%">
                  趨勢科技 -
                  <a href="http://www.66kjobs.tw/jobs/1690">【Threat Defense Expert - 打擊IoT網路駭客!】</a>
                </td>
                <td width="5%">
                  <span class="label label-default ">人民币 $90,000 元</span>
                </td>
                <td> 27 Dec </td>
             </tr>
             <tr>
               <td width="80%">
                 網智數位 -
                 <a href="http://www.66kjobs.tw/jobs/1689">.NET 系統設計師</a>
               </td>
               <td width="5%">
                 <span class="label label-default ">人民币 $80,000 元</span>
               </td>
               <td> 27 Dec </td>
             </tr>
             <tr>
               <td width="80%">
                 網智數位 -
                 <a href="http://www.66kjobs.tw/jobs/1688">ASP.NET MVC 系統分析師</a>
               </td>
               <td width="5%">
                 <span class="label label-default ">人民币 $85,000 元</span>
               </td>
               <td> 27 Dec </td>
             </tr>
             <tr>
               <td width="80%">
                 趨勢科技 -
                 <a href="http://www.66kjobs.tw/jobs/1685">Sr. Front-End Developer</a>
               </td>
               <td width="5%">
                 <span class="label label-default ">人民币 $90,000 元</span>
               </td>
               <td> 20 Dec </td>
             </tr>
           </tbody>
         </table>
        </div>

    </div>
  </div>

<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=VfqbvmFVI&l=y.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>北京朝阳建外SOHO</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=9yBkCQVj7&l=y.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>info@18koffer.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=bAQJ8dfF4&l=y.jpg" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>010-12344321</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
