<footer class="container" style="margin-top:10px; width: 100%">
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3>简介 </h3>
                    <ul>
                        <li> <a href="#"> 关于我们 </a> </li>
                        <li> <a href="#"> 服务声明</a> </li>
                        <li> <a href="#"> 媒体报道</a> </li>

                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> 合作 </h3>
                    <ul>
                        <li> <a href="#"> 加入我们</a> </li>
                        <li> <a href="#"> 联系我们 </a> </li>
                        <li> <a href="#"> 友情链接 </a> </li>

                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> 帮助 </h3>
                    <ul>
                        <li> <a href="#"> 帮助中心 </a> </li>
                        <li> <a href="#"> 常见问题 </a> </li>
                        <li> <a href="#"> 新手引导 </a> </li>

                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> 导航 </h3>
                    <ul>
                        <li> <a href="#"> 网站地图 </a> </li>
                        <li> <a href="#"> 职位搜索 </a> </li>
                        <li> <a href="#"> 新手引导 </a> </li>

                    </ul>
                </div>
                <div class="col-lg-3  col-md-4 col-sm-6 col-xs-12 ">
                    <h3> 联系我们 </h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Email ">
                                <button class="btn  bg-gray" type="button"> Lorem ipsum <i class="fa fa-long-arrow-right"> </i> </button>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © Footer E-commerce Plugin 2014. All right reserved. </p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                    <li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/.footer-bottom-->


</footer>
