
<nav class=" navbar navbar-default" role="navigation">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!--<a class="navbar-brand" href="/">Job Listing 2nd week  </a> -->
      <a class="navbar-brand" href="/"><i class="fa fa-diamond" aria-hidden= "true"> </i>28K Offer </a>

      <a class="navbar-brand" href="/jobs"> 首页 </a>
      <a class="navbar-brand" href="/jobs"> 职位搜索 </a>
      <a class="navbar-brand" href="/jobs/new" > 发布职位 </a>
      <a class="navbar-brand" href="/jobs/new" > 关于28K Offer </a>

    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
      <ul class="nav navbar-nav navbar-right">
        <li>

          <% if !current_user %>

            <li><a href="/users/sign_up"> <span class="glyphicon glyphicon-user"></span>注册</a></li>
            <li><a href="/users/sign_in"> <span class="glyphicon glyphicon-user"></span>登录</a></li>
            

          <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Hi!,<%= current_user.email %>
                <b class="caret"> </b>
              </a>
              <ul class="dropdown-menu">
                <% if current_user.admin?%>
                  <li> <%= link_to("Admin panel",admin_jobs_path) %></li>
                <% end %>
                <li> <%= link_to("退出",destroy_user_session_path,method: :delete)%></li>
              </ul>
            </li>
          <% end %>

        </li>
      </ul>
    </div>
  </div>

</nav>
